section.partners 
    div.container 
        div.partners__row 
            h2.partners__title.title-4 Our Travel Partner
            div.partners__content
                img(src=require('./../../images/partners/traveloka.svg'), alt="")
                img(src=require('./../../images/partners/airbnb.svg'), alt="")
                img(src=require('./../../images/partners/expedia.svg'), alt="")
                img(src=require('./../../images/partners/skyscanner.svg'), alt="")
                img(src=require('./../../images/partners/american-airlines.svg'), alt="")